In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd 
from datetime import date
import os

In [2]:
# Global variables
RAW_DIR = "RAW/in/"
OUTPUT_NAME = "houses"

In [3]:
# Get all files in a directory
all_files = sorted([f for f in listdir(f"{RAW_DIR}") if isfile(join(f"{RAW_DIR}", f))])
frames = []

# Import data
for filename in all_files:
    with open(f"{RAW_DIR}{filename}", "r") as file:
        data = file.read().splitlines()
        
    # Create DataFrame
    df = pd.DataFrame(data)
    
    
    # Get value for count validation
    given_count_data = (df.iloc[-1].item())
    # Clean value from symbol !
    given_count_data = given_count_data[1:]


    # Delete useless data that starts with symbol !
    df = df[~df[0].astype(str).str.startswith('!')]
    # Separate data by symbol |
    df = df[0].str.split('|',expand=True)
    # Set first row as columns
    df.columns = df.iloc[0]
    
    
    # Validate number or rows
    real_count_data = df.shape[0]
    if int(given_count_data) == real_count_data:
        print("Validation: Passed")
    else:
        print("Validation: Failed")
        print("Given count: ",given_count_data)
        print("Real count: ",real_count_data)
    
    # Delete first row from DataFrame 
    df = df[1:]
    # Reset index
    df = df.reset_index(drop=True)
    frames.append(df)

# Merged DataFrame
merged_df = pd.concat(frames, ignore_index=True)

Validation: Passed
Validation: Passed

In [4]:
merged_df
# column_names = list(merged_df.columns)
# print(column_names)

3,Id,ActiveDate,EndDate,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,SaleType,SaleCondition,SalePrice,DealCode,DateSold
0,1,,,60,RL,65,8450,Pave,NA,Reg,...,0,NA,NA,NA,0,WD,Normal,"208500,00",N/a,20/2/2008
1,2,,,,RL,80,9600,Pave,NA,Reg,...,0,NA,NA,NA,0,WD,Normal,"181500,00",N/a,20/5/2007
2,3,25/02/2018,06/22/2022 12:00:00,60,RL,68,11250,Pave,NA,IR1,...,0,NA,NA,NA,0,WD,Normal,"223500,00",N/a,20/9/2008
3,4,25/02/2018,06/23/2022 12:00:00,70,RL,60,9550,Pave,NA,IR1,...,0,NA,NA,NA,0,WD,Abnorml,"140000,00",N/a,20/2/2006
4,5,25/02/2018,06/24/2022 12:00:00,60,RL,84,14260,Pave,NA,IR1,...,0,NA,NA,NA,0,WD,Normal,"250000,00",N/a,20/12/2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1466,1456,25/02/2018,06/14/2026 12:00:00,60,RL,62,7917,Pave,NA,Reg,...,0,NA,NA,NA,0,WD,Normal,"175000,00",N/a,20/8/2007
1467,1457,25/02/2018,06/15/2026 12:00:00,20,RL,85,13175,Pave,NA,Reg,...,0,NA,MnPrv,NA,0,WD,Normal,"210000,00",N/a,20/2/2010
1468,1458,25/02/2018,06/16/2026 12:00:00,70,RL,66,9042,Pave,NA,Reg,...,0,NA,GdPrv,Shed,2500,WD,Normal,"266500,00",N/a,20/5/2010
1469,1459,25/02/2018,06/17/2026 12:00:00,20,RL,68,9717,Pave,NA,Reg,...,0,NA,NA,NA,0,WD,Normal,"142125,00",N/a,20/4/2010
1470,1460,25/02/2018,06/18/2026 12:00:00,20,RL,75,9937,Pave,NA,Reg,...,0,NA,NA,NA,0,WD,Normal,"147500,00",N/a,20/6/2008

In [5]:
# Get today date
todays_date = date.today()
# Set the path to save
path = (f"RAW/{todays_date.year}/{todays_date.month}/{todays_date.day}")
# Check whether the specified path exists or not
isExist = os.path.exists(path)
if not isExist:
   # Create a new directory because it does not exist
   os.makedirs(path)

# Save merged DataFrame to CSV with ; separator without index column
merged_df.to_csv(f"{path}/{OUTPUT_NAME}.csv", sep=';', index=False)